
div.qbo-select
  div.Select
    max-width: 400px
    &.is-disabled
      > div.Select-control
        background-color: #eee
      div.Select-value div.Select-value-label
        color: #666
    div.Select-control
      border: 1px solid #babec5
      border-radius: 2px
      height: 40px
      font-size: 14px
      font-weight: 400
      font-family: normal-font-families
      cursor: pointer
    &:not(.is-disabled)
      div.Select-control
        &:hover
          box-shadow: 0 0 0 2px #d4d7dc
          border-color: #8d9096
    &.is-focused, &.is-pseudo-focused
      div.Select-control
        border-color: qbo-theme
        box-shadow: none
    div.Select-menu-outer
      border: none
      background: none
    div.Select-menu
      border: 1px solid #babec5
      border-radius: 2px
      margin-top: 5px
      background: #fff
    div.Select-option, div.VirtualizedSelectOption
      background: #fff
      font-size: 14px
      color: #393a3d
      padding: 8px 14px 7px
      font-weight: 400
      &.is-selected
      &.is-focused, &.VirtualizedSelectFocusedOption
        font-weight: 500
        background: #eaeaea
        color: qbo-theme-hover
    div.VirtualizedSelectOption
      cursor: pointer
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
