@import 'qbo-variables'

@import 'node_modules/react-day-input/dist/react-day-input.css'
@import 'node_modules/react-select/dist/react-select.css'
@import 'node_modules/react-virtualized-select/styles.css'

div.qbo-styled-section
  font-size: 1.4rem
  font-family: normal-font-families
  font-weight: 400

  color: #333
  margin: 0
  padding: 0 15px

  p
    margin: 0
    line-height: 1.4em

  h1, h2, h3, h4, h5, h6
    font-family: title-font-families
    margin: 0
  h2
    font-weight: 400
    font-size: 24px
    margin-bottom: 12px

  hr
    border: none
    border-bottom: 1px solid #d4d7dc
    margin: 15px 0

  div.qbo-centred-content
    max-width: 900px
    padding-top: 35px
    margin: 0 auto

  p.qbo-disclaimer
    color: #999
    // sample footer from qbo:
    // color: #393a3d
    font-weight: 400
    margin-top: 40px

  div.qbo-card
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1
    border-radius: 3px
    background: #fff
    margin: 20px 0
    &:not(.sectioned)
      padding: 20px
    div.section
      padding: 20px
      &:not(:first-child)
        border-top: 2px solid #eceef1

    &.accent
      border-top: 4px solid #fff
    &.accent.primary
      border-top-color: qbo-theme

  div.qbo-page-message
    padding: 15px 15px 11px
    border: 1px solid #0097e6
    margin: 15px auto
    display: block
    max-width: 500px
    background: #fff
    &.critical
      border-color: #d52b1e
      h4
        color: #d52b1e
    h4
      line-height: 1.5em
      font-size: 1.5rem
      margin: 0
      margin-bottom: 5px
      font-weight: 600
      font-family: normal-font-families
    p
      margin: 0
      font-size: 1.4rem
      color: #393a3d
      &:not(:last-child)
        margin-bottom: 5px

.qbo-text
  &.primary
    color: qbo-theme

@import 'dom/index'
@import 'forms/index'
@import 'layout/index'
