modal-transition-time = 0.25s

@keyframes fade-in-modal
  0%
    opacity: 0
    transform: translateY(-20%)
  100%
    opacity: 1
    transform: translateY(0%)

@keyframes fade-in-modal-backdrop
  0%
    background-opacity: 0
  100%
    background-opacity: 0.5

div.qbo-modal-backdrop
  animation: fade-in-modal-backdrop modal-transition-time
  background: rgba(0, 0, 0, 0.5)
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%

div.qbo-modal-container
  position: fixed
  left: 50%
  top: 50%
  transform: translateY(-50%) translateX(-50%)
  max-width: 900px
  width: 100%
  padding: 20px
  box-sizing: border-box

div.qbo-modal
  animation: fade-in-modal modal-transition-time
  position: relative
  background: #f4f5f8
  display: flex
  flex-direction: column
  max-height: 85vh
  span.closer
    position: absolute
    top: 0px
    right: 0px
    padding: 10px
    color: #aaa
    font-size: 30px
    line-height: 1em
    cursor: pointer
    &:hover
      color: #999
  div.qbo-modal-header, div.qbo-modal-body, div.qbo-modal-footer
    flex: 1
    padding: 20px 40px
  div.qbo-modal-header
    flex-grow: 0
    margin: 0
    padding: 20px 40px
    background: #fff
    border-bottom: 2px solid #ddd
  div.qbo-modal-footer
    flex-grow: 0
  div.qbo-modal-body
    overflow-y: auto
    min-height: 0
